<div class="page-header">
	<h1>Reset Password</h1>
</div>

<%= form_tag password_resets_path, { :method => :post, :class => "simple_form form-horizontal" } do %>

	<div class="control-group email required password_resets_email">
		<label class="email required control-label" for="email"><abbr title="required">*</abbr> Email</label>
		<div class="controls">
			<%= text_field_tag :email, params[:email], :type => "email" %>
		</div>
	</div>
	
	<div class="form-actions">
   	<%= submit_tag :submit, :value => "Reset", :class => 'btn' %>
	</div>

<% end %>