<%= image_tag attachments['Welcome-Email-Header.jpg'].url, :alt => 'Welcome Email Header' %>

<h2>Password Reset</h2>

Hi <strong><%= @user.first_name %></strong>. A password reset has been requested for your Elephund account.  To reset your password please follow the link below.  Alternatively you can copy/paste the link into your browser: 

<strong><a href=<%= edit_password_reset_url(@user.password_reset_token) %> target="_blank"><%= edit_password_reset_url(@user.password_reset_token) %></a></strong>

If you had not requested this change please ignore this email and your password will stay the same.



Copyright: 2013 Elephund, All rights reserved.
<a href="http://www.elephund.com" target="_blank">Elephund.com</a>