<div class="hero-unit">
	<h1>422!</h1>
	<p>Sorry the change you wanted to make was rejected.</p>
	<p>
		<a href=<%= root_path %> class="btn btn-warning">Go Home</a>
		<a href="contact" class="btn btn-warning btn-inverse">Contact Us</a>	
	</p>
</div>