<div class="hero-unit">
	<h1>500!</h1>
	<p>We're sorry something went wrong.</p>
	<p>
		<a href=<%= root_path %> class="btn btn-warning">Go Home</a>
		<a href="contact" class="btn btn-warning btn-inverse">Contact Us</a>	
	</p>
</div>