<p>User has submitted a Contact Us form:<p><br>

<p><strong>Name:</strong> <%= @contact.name %></p>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Subject:</strong> <%= @contact.subject %></p>
<p><strong>Body:</strong> <%= @contact.body %></p><br><br>