<h2>User has submitted a Contact Us form:</h2>

<strong>Name:    </strong> <%= @contact.name %>
<strong>Email:   </strong> <%= @contact.email %>
<strong>Subject: </strong> <%= @contact.subject %>
<strong>Message: </strong> <%= @contact.body %>



Copyright: 2013 Elephund, All rights reserved.
<a href="http://www.elephund.com" target="_blank">Elephund.com</a>